/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/
.one.two {
  color: red;
  padding: 8px;
}
.buttonA {
  height: 44px;
  width: 44px;
  background-color: red;
  color: white;
  border-radius: 22%;
  padding: 15px 15px 15px 15px;
  margin: 15px;
}
.buttonB {
  height: 44px;
  width: 44px;
  background-color: red;
  color: white;
  border-radius: 22%;
  padding: 15px 15px 15px 15px;
  margin: 15px;
}
.transparencia {
  opacity: 0.5;
}
.tamaño {
  transform: rotate(50deg);
}
