.container {
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  grid-template-rows: 20% 60% 30%;
}

.box {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header {
  grid-column: 1 / 12;
  background-color: pink;
  grid-row: span 3;
}
