.container {
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  grid-template-rows: 20vh 60vh 20vh;
}

.box.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.box {
  justify-content: center;
  display: flex;
  align-items: center;
}

.header {
  grid-column: 1 / 12;
  background-color: pink;
  grid-row: 1;
}
.footer {
  grid-column: 1 / 12;
  background-color: lightskyblue;
  grid-row: 3;
}
.menu {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: cornflowerblue;
}
.content {
  grid-column: 3 / 12;
  grid-row: 2;
  background-color: palevioletred;
}
