/*.container-1 {
  background-color: lawngreen;
  display: flex;
  flex-direction: row;
  width: 1000px;
  flex-wrap: wrap;
}
.item {
  background-color: royalblue;
  border: 1px solid black;
}*/
.container-2 {
  height: 100px;
  background-color: hotpink;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row;
  align-content: center;
}
.lista {
  flex-grow: 4;
}
ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
