$colorLink: #4a90e2;
$colorLinkHover: #d0021b;
.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.box {
  font-family: Lucida Grande, arial, sans-serif;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  & + .box {
    border-left: 2px dashed #e3e5e6;
  }
}

a {
  color: blue;
  transition: color ease 0.8s;
  &:hover {
    color: black;
  }
}

.link {
  transition: color ease 1s, border-color ease 1s;
}
